.card{
    overflow: hidden;
    width: 233px;
    height: 210px;
    display: inline-flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: small;
    padding: 19px 23px 31px 23px;
    margin: 13px 6px 11px 2px;
    background-color:rgb(8, 8, 8, 0.7);
    opacity: 0.9;
    box-shadow: 6px 5px 24px #c5c5e1;
    border-radius: 33px;
    cursor: grab;
    text-decoration: none

}

.img{
    border-radius: 28px;
    height: 100px;
    width: 120px;
    text-decoration: none
}

 .h1{
    color:peru;
    text-decoration: none;
    text-align: initial;
    font-family: cursive;
    font-size: x-large;
    display: inline;
    font-weight: initial;
    
}

.h3{
    color: peru;
    text-decoration: none;
    font-family: cursive; 
}

.rayita{
    text-decoration: none;
}