.button{
    background-image: linear-gradient(to bottom, rgb(119, 119, 119), #121313) ;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9daef5;
    box-shadow: 6px 5px 24px #666666;
    font-family: cursive;
    font-style: oblique;
    font-size: 0.8em;
    color: #fafafa;
    padding: 8px;
    border-left-width: medium;
    display: block;
    border: none;
  }

  .button:hover{
    background: rgb(85, 130, 253);
    font-weight:bold;
  }

  .h1{
    
    color: peru;
    font-size: 7em;
    margin: 0px 0px 22px 0px;
    font-variant: petite-caps;
  }

  .rayita{
    text-decoration: none;
  }

  /* .h1img{
    background-image: url(https://thumbs.gfycat.com/DistortedCompetentAzurevasesponge-size_restricted.gif);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 135px;
    text-shadow: 3px 2px 1px #9daef5;
    box-shadow: 6px 5px 24px #666666;
    font-family: cursive;
    font-style: oblique;
    font-size: 1.5em;
    color: #fafafa;
    padding: 72px;
    right: 637px;
    top: 250px;
    position: fixed;
    border-left-width: medium;
    display: block;
    border: none;
  } */