/* div{
    background-image: url(https://i.pinimg.com/564x/5a/27/23/5a272354a95d354b3d7f41ad816b5c24.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% auto;
} */